body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  background-color: #483586;
}

.App-logo {
}

.welcome-jumbotron {
  background-color: #a4ce52 !important;
}
.welcome-group {
  text-align: center;
  margin-top: 250px;
}
.CallToAction {
  background-color: #a4ce52;
}
.WhatIsSMP {
  background-color: #eba23c;
  margin-top: 30px;
  padding: 100px 20px 20px 20px;
  margin-bottom: 20px;
}

.Reviews {
  background-color: #0e94c7;
}

.BookAConsultation {
  background-color: #a4ce52;
}

.FAQS1 {
  background-color: #eba23c !important;
}

.FAQS2 {
  background-color: #de0f77 !important;
}
.Contact-Us {
  background-color: #0e94c7;
  margin-top: 20px;
}
.Contact-Us-Heading {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 20px;
}
.Contact-Us-Form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form {
}
.form-Inputs {
  width: 50%;
}

.form-width60 {
  width: 60% !important;
}

.form-width70 {
  width: 70% !important;
}
.form-width90 {
  width: 90% !important;
}
.form-Btn {
  margin-left: 45%;
}
.Map {
  background-color: #a4ce52;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Map-Address {
  display: flex !important;
  justify-content: center !important;
  padding-top: 200px;
}
.Directions-Btn {
  margin-left: 47%;
}

.Footer {
  background-color: #de0f77;
  margin-top: 20px;
}
.footer-logo {
}
.footer-address {
  padding-top: 80px;
  font-size: 20px;
}
ul {
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}
.footer-emailInput {
  width: 80% !important;
}
.Socials {
  width: 20px;
  height: 20px;
  border-radius: 15%;
}
.header-links {
  font-size: 26px;
  margin-left: 50px;
  margin-right: auto;
  color: #a4ce52 !important;
  text-shadow: 2px 2px 4px #000000;
}

.header-links:hover {
  color: #de0f77 !important;
}

.App-header {
  z-index: 1;
}
.AR-Window {
  background-color: #0e94c7;
  z-index: 2;
  height: 400px;
  margin-bottom: 20px;
}

.ar-text {
  margin-left: 160px;
}
.AR-Button {
  margin-left: 350px;
}

.AR-Col-1 {
  margin-bottom: 300px;
  margin-left: 100px;
}
.AR-Col-2 {
  margin-top: 250px;
  margin-left: 100px;
}
.AR-heading {
  margin-left: 190px;
}

.WhatSMPCanFix-heading {
  display: flex !important;
  justify-content: center !important;
}
.WhatSMPCanFix-button {
  margin-left: 810px;
}
.WhatSMPCanFix-css {
  background-color: #de0f77;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.cards {
  padding: 20px 40px 20px 20px;
  margin-left: 40px;
}
.Card-IMGs {
  border-style: solid;
  border-radius: 100% !important;
  border-color: #a4ce52;
  border-width: 5px 5px 5px 5px;
  width: 300px;
  height: 300px;
  padding-left: 10px;
  display: flex !important;
  justify-content: center !important;
}
.Card-Title {
  display: flex !important;
  justify-content: center !important;
}
